<div class="tabla">
    <h2>Listado de Personas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Patricio Fuenzalida</td>
                <td>32</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>&nbsp;
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Patricio Fuenzalida</td>
                <td>32</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>&nbsp;
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Patricio Fuenzalida</td>
                <td>32</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>&nbsp;
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Patricio Fuenzalida</td>
                <td>32</td>
                <td>
                    <button type="button" class="btn btn-warning">Editar</button>&nbsp;
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>